{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <h1>Contact Us</h1>
    <div class="narrow">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}