{% extends 'base.html.twig' %}

{% block title %}Customer Service{% endblock %}

{% block body %}
    <div class="row">
        <h1>Customer Service</h1>
    </div>
    <div class="row">
        <p>SMS SMS...</p>
    </div>
{% endblock %}
